{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% include 'partials/htmlheader.html.twig' %}
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <header>
        {% include 'partials/header.html.twig' %}
    </header>
    {% include 'partials/headerMoveDown.html.twig' %}
{% endblock %}

{% block body %}
    <section id="body">
        <a href="javascript:" id="return-to-top" style="z-index: 10000"><i class="fas fa-chevron-up"></i></a>
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% block scripts %}
    {% include 'partials/scriptHeaderScroll.html.twig' %}
    {% include 'partials/scriptClickToExpand.html.twig' %}
    {% include 'partials/scriptMosaic.html.twig' %}
    {% include 'partials/scriptSliderSlick.html.twig' %}
    {% include 'partials/scrollTopArrow.html.twig' %}
{% endblock %}
</body>
</html>
