<section style="background-color: rgba(208,205,209,0.5); padding-top: 40px; padding-bottom: 30px;">
    <div class="container">
        {% for video in page.media %}
            <video width="{{page.header.width}}" height="{{page.header.height}}" controls style="display: block; margin: 0 auto;">
                <source src="{{ video.url }}">
                Your browser does not support the video tag.
            </video>
        {% endfor %} 
    </div>
</section>
