{% extends 'partials/base.html.twig' %}

{% block content %}
    {#{% include 'partials/mosaic.html.twig' %}#}
    {{ page.content }}
    {#{% include 'partials/carousel.html.twig' %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
    <div class="container mosaic-header">
        <h2 class="mosaic-title">{{ page.header.zeitrafferTitle }}</h2>
        <p class="mosaic-subtitle">{{ page.header.zeitrafferSubtitle }}</p>
    </div>
    {# {% include 'partials/video-zeitraffer.html.twig' %} #}
    
    {# {% include 'partials/video-zeitraffer-slider.html.twig' %}  #}
    {% include 'partials/youtube-slider.html.twig' %}

    {#{% include 'partials/show-all-image-sliders.html.twig' %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
{% endblock %}
