{% extends 'partials/base.html.twig' %}

{% block content %}
    {#{% include 'partials/mosaic.html.twig' %}#}
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">{{ page.content }}</div>
    {#{% include 'partials/carousel.html.twig' %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
    {#{% include 'partials/show-all-image-sliders.html.twig' %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
    {#{% include 'partials/carousel-slick.html.twig' with {'ort': 'Japan'} %}#}
{% endblock %}
