{% extends 'partials/base.html.twig' %}

<!-- {% block content %}
    <div class="lead text-center">
        <h1>Error!</h1>
        {{ page.content }}
    </div>
{% endblock %}
 -->

{% block content %}
  <section class="error-404 not-found">
    <header class="page-header">
      <h1>Error {{ page.header.http_response_code }}</h1>
    </header>
    <div class="page-content">
      {{ page.content }}
    </div>
  </section>
{% endblock %}
